/*** FONTS ***/
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:400,700');

/*** BODY ***/
html,
body {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background: #FFF;
}

/*** HEADERS ***/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 30px;
    text-align: left;
}
h1 { font-size: 32px; font-weight: bold; line-height: 42px; }
h2 { font-size: 28px; font-weight: bold; line-height: 38px; }
h3 { font-size: 24px; font-weight: bold; line-height: 28px; }
h4 { font-size: 20px; font-weight: bold; line-height: 26px; }
h5 { font-size: 18px; font-weight: bold; line-height: 24px; }
h6 { font-size: 16px; font-weight: bold; line-height: 22px; }

/*** PARAGRAPH TEXT ***/
p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

/*** INPUT FIELDS ***/
[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
    background: #fff;
    color: #333333;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #eee;
    padding: 15px;
    height: 40px;
    width: 100%;
    outline: none;
    margin: 0 0 15px;
    max-width: 100%!important;
    font-size: 14px;
}

/*** BUTTONS ***/
.button,
button,
input[type=submit] {
    background: #FFF;
    color: #ff9900;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 40px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    margin: 0 0 15px 0;
    border: 0;
    position: relative;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transition: .3s;
    text-decoration: none;
}

/*** IMAGES ***/
img {
    max-width: 100%;
}

/*** MOVE ***/
.body-top {
    background: -webkit-linear-gradient(bottom left, #FE6B8B 30%, #FF8E53 90%);
    background: -moz-linear-gradient(bottom left, #FE6B8B 30%, #FF8E53 90%);
    background: -o-linear-gradient(bottom left, #FE6B8B 30%, #FF8E53 90%);
    background: linear-gradient(to top right, #FE6B8B 30%, #FF8E53 90%);
    min-height: 250vh;
    position: relative;
    overflow: hidden;

    &::before {
        content: ' ';
        background: url(/media/wave-top.png) no-repeat;
        background-position: left top;
        background-size: contain;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    &::after {
        content: ' ';
        background: url(/media/wave-bottom.png) no-repeat;
        background-position: bottom right;
        background-size: contain;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}
