.section.detail {
    .block {
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        background: #FFF;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 50px 15px;
        text-align: center;
        font-size: 24px;


        img {
            display: block;
            margin: 10px auto 30px auto;
        }
    }
}