header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 10;

    .logo {
        padding: 15px 0px;
        img {
            height: 50px;
        }
    }

    nav {
        text-align: center;
        ul {
            font-size: 0px;
            li {
                display: inline-block;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0px;
                }
                a {
                    color: #333;
                    font-size: 14px;
                    text-decoration: none;
                    padding: 30px 0px;
                    display: block;
                }
            }
        }
    }

    .button {
        margin: 10px 0px 0px 0px;
    }
}