.section.hero {
    .row.main {
        align-items: center;
        justify-content: center;
        height: 75vh;

        @media all and (max-width: 1400px)
        {
            height: 100vh;
        }
    }
    img {
        margin-left: auto;
    }
}